.card-premium {
  display: flex;
  flex-direction: row;
  margin: 5px;
  align-items: center;
}
.card {
  width: 600px;
}
.img-premium {
  width: 200px;
  height: 140px;
  margin: 0 0 0 8px;
}
.btn-price {
  width: 100%;
  align-items: center;
}
.btn-price button {
  margin-top: 10px;
}
.btn-price p {
  font-weight: 700;
  display: inline-block;
  margin: 0;
}

.btn-order {
  font-weight: 900;
  margin: 0;
}
